Source: llmnrd
Section: net
Priority: optional
Maintainer: Tobias Klauser <tklauser@distanz.ch>
Build-Depends: debhelper (>=9), dh-systemd
Standards-Version: 3.9.7
Homepage: https://github.com/tklauser/llmnrd

Package: llmnrd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: llmnrd - Link-Local Multicast Resolution Daemon
 lmnrd is a daemon implementing the Link-Local Multicast Name Resolution
 (LLMNR) protocol according to RFC 4795. It currently only supports Linux, as
 it uses the netlink kernel interface.
 .
 llmnrd will respond to name resolution queries sent by Windows clients in
 networks where no DNS server is available. It supports both IPv4 and IPv6.
